@charset "UTF-8";

/* 

	device width distinction - 

	1024px ~ : Desktop layout
	768px ~ 1023xp : tablet layout
	~ 767px, (min-aspect-ratio: 1/1) : mobile phone layout, widescreen aspect
	360px ~ 767px, (max-aspect-ratio: 1/1) : mobile phone layout, portrait aspect
	~ (320px) ~ 359px : legendary mobile phone layout
*/


html {
	font-size: 12px; /* 1rem = this size. */
	font-family: 'Spoqa Han Sans',sans-serif;
	line-height: 1.5;
	font-style: normal;
	font-weight: 400;
	position: relative;
}


body {
	padding: 0;
	margin: 0;
	font-size: ;
}
html, body, #map {
	height: 100%;
	width: 100vw;
}

.checkboxes {
	padding: 6px 10px 6px 6px;
	font: 12px/1.5 Arial, Helvetica, sans-serif;
	color: #333;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
}




.tooltip {
	position: absolute;
	text-align: center;
	width: auto;
	height: auto;
	padding: 6px;
	margin-top: -50px;
	font: 10px sans-serif;
	background: #ddd;
	pointer-events: none;
}


/*svg g path {
	mix-blend-mode: multiply;
}

.leaflet-overlay-pane {
	mix-blend-mode: color-burn;
}*/





/* ------------ skorea-election-map의 잔재여 잔재 ------------ */




body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 0;
	height: 100vh;
}
div, input {
	box-sizing: border-box;
}


@media all and (max-width:1023px) { /* tablet layout */

	html {
		font-size: 12px;
	}

}



/* ------------ #map_background, #headerMenu, #map_layerControl, #layerControl_legend, #dataInfo ------------ */

#map_background, #site_title, #map_layerControl, #layerControl_legend, #score_legend, #dataInfo {
	position: absolute;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


@media all and (max-width:767px) { /* mobile phone layout */

	/*#map_background,*/ #headerMenu, #map_layerControl {
		position: fixed;
	}

}

/* ------------ #map_background ------------ */

#map_background {
	left: 0px;
	top: 0px;
	width: 100%; /*100vw;*/
	height: 100%; /*100vh;*/
	z-index: -1;
	overflow: hidden;
}


/* ------------ .switch, .selection, .UI, .UIName ------------ */



.UI:hover, .button:not(.inactive):hover {
	cursor: pointer;
}

	.UIName {
		width: 100%;
		/*margin: 0 0 0 0;
		padding: 0 0 8px 12px;*/
		margin: 0 12px 8px 0;

		font-weight: 600;
		font-size: 12px;
		color: #000000;
		
		word-break: keep-all;
		-ms-word-break: keep-all;
		text-align: left;
	}



@media all and (max-width:1023px) { /* tablet layout */

	.switch, .selectbox {
		margin: 12px 0 15px 0;
	}
  
		.UIName {
			padding: 0 0 2px 8px;
			font-size: 10px;
		}

		.UI {
			height: 32px;
			font-size: 12px;

			border: 1px solid #000000;
			border-radius: 4px;
		}
			.selectbox .UI {
				padding-left: 8px; 
			}

	.button {
		height: 32px;

		border: 1px solid #000000;
		border-radius: 4px;
	}
	.button.inactive {
		border: 1px solid #eeeeee;
	}

}


@media all and (max-width:359px) { /* legendary mobile phone layout */

	.switch, .selectbox {
		margin: 8px 0 15px 0;
	}

}




/* ------------ #site_title, #layerControl_legend, #map_layerControl, leaflet zoomButton (.leaflet-left, .leaflet-top) ------------ */


#site_title {
	font-size: 21px;
	font-weight: 600;
	line-height: 1.0;
	text-align: center;

	top: 32px;
	left: 38px;
	padding: 16px;

	background: #ffffff;
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	cursor: pointer;

    color: #000000;
    text-decoration: none;
}


#map_layerControl {
	top: 100px;
	left: 38px;
	width: 192px;

	padding: 18px 15px 15px 15px;

	background-color: #ffffff;
	border: 1px solid #c3c3c3;
	border-radius: 4px;
}
	
	/*#fullView {
		width: 100%;
	}
	#largeView {
		width: 36px;
		font-size: 18px;
		margin: 0 8px 0 0;
		padding: 2px 0 8px 0;
	}
	#smallView {
		width: 36px;
		font-size: 18px;
		padding: 2px 0 8px 0;
	}*/

	/*#mapYear .UIName .selectbox .UIName {
		display: inline;
	}*/

	#checkbox_cover {
		margin: 0 0 24px 0;
		padding: 0 0 0 0;
	}

	#mapYear_slider {
		margin: 0px 8px 8px 8px;
	}

		.ui-slider-horizontal {
			height: .5em;
		}

		.ui-slider-horizontal .ui-slider-handle {
			top: -.49em;
			margin-left: -.6em;
		}

		.ui-state-default, .ui-widget-content .ui-state-default, 
		.ui-widget-header .ui-state-default, .ui-button, 
		html .ui-button.ui-state-disabled:hover, 
		html .ui-button.ui-state-disabled:active {
			border: 1px solid #d3d3d3;
			background: #51a0dc;
			font-weight: normal;
			color: #555555;
		}

		.ui-state-active,
		.ui-widget-content .ui-state-active,
		.ui-widget-header .ui-state-active,
		a.ui-button:active,
		.ui-button:active,
		.ui-button.ui-state-active:hover {
			border: 1px solid #aaaaaa;
			background: #ffffff;
			font-weight: normal;
			color: #212121;
		}

	#year_integer {
		display: flex;
		justify-content: space-between;
	}


#layerControl_legend {
	top: 100px;
	left: 241px;
	width: 24px;
	height: 24px;
	padding: 4px 3px 2px 3px;

	font-size: 21px;
	line-height: 1.0;

	background-color: #ffffff;
	border: 2px solid rgba(0,0,0,0.3);
	border-radius: 4px;

	cursor: pointer;
}


.leaflet-left .leaflet-control-zoom {
	margin-left: 241px;
}
.leaflet-top .leaflet-control-zoom {
	margin-top: 144px;
}




@media all and (max-width:1023px) {

	#map_layerControl {
		top: 68px;
		left: 18px;
		width: 60px;
	}
		#fullView {
		}
		#upperRegion {
		}
		#largeView {
			width: 28px;
			font-size: 15px;
			margin: 0 4px 0 0;
			padding: 4px 0 8px 0;
		}
		#smallView {
			width: 28px;
			font-size: 15px;
			padding: 4px 0 8px 0;
		}

}


@media all and (max-width:767px) { /* mobile phone, widescreen layout */

	#map_layerControl {
		top: 0px;
	}

}
@media all and (max-width:767px) and (max-aspect-ratio: 1/1) { /* mobile phone, portrait layout */


	#map_layerControl {
		top: 72px;
	}
		#hex_property {
			width: 100%;
		}
			#hex_property .UI {
				height: 64px;
			}
			#hex_property .UI div {
				width: 100%;
				height: 50%;
			}

}

@media all and (max-width:359px) { /* legendary mobile phone layout */

	#map_layerControl {
		left: 8px;
	}
		#hex_property {
			width: 200%;
		}
			#hex_property .UI {
				height: 32px;
			}
			#hex_property .UI div {
				width: 50%;
				height: 100%;
			}

}

/* ------------ #score_legend ------------ */

#score_legend {
	top: 360px;
	left: 42px;
	/*width: 100px;*/
	height: 128px;
	padding: 10px 10px 10px 8px;

	display: flex;

	background-color: rgba(255, 255, 255, 0.35);
	border-radius: 4px;
}


	#score_gradient { 
		width: 10px;
		height: 100%;
		opacity: 0.7;
		background-color: hsl(0, 100%, 50%); /* 그레디언트가 지원되지 않는 경우의 색상(fallback color) */
		background-image: -webkit-linear-gradient(bottom, hsl(0, 100%, 100%), hsl(0, 100%, 90%), hsl(0, 100%, 80%), hsl(0, 100%, 70%), hsl(0, 100%, 60%), hsl(0, 100%, 50%), hsl(0, 100%, 40%), hsl(0, 100%, 30%), hsl(0, 100%, 20%), hsl(0, 100%, 10%), hsl(0, 100%, 0%));
		background-image:    -moz-linear-gradient(bottom, hsl(0, 100%, 100%), hsl(0, 100%, 90%), hsl(0, 100%, 80%), hsl(0, 100%, 70%), hsl(0, 100%, 60%), hsl(0, 100%, 50%), hsl(0, 100%, 40%), hsl(0, 100%, 30%), hsl(0, 100%, 20%), hsl(0, 100%, 10%), hsl(0, 100%, 0%)); /* Fx 3.6 부터 Fx 15 까지 처리 */
		background-image:     -ms-linear-gradient(bottom, hsl(0, 100%, 100%), hsl(0, 100%, 90%), hsl(0, 100%, 80%), hsl(0, 100%, 70%), hsl(0, 100%, 60%), hsl(0, 100%, 50%), hsl(0, 100%, 40%), hsl(0, 100%, 30%), hsl(0, 100%, 20%), hsl(0, 100%, 10%), hsl(0, 100%, 0%)); /* IE 10 Platform Previews, Consumer Preview */
		background-image:      -o-linear-gradient(bottom, hsl(0, 100%, 100%), hsl(0, 100%, 90%), hsl(0, 100%, 80%), hsl(0, 100%, 70%), hsl(0, 100%, 60%), hsl(0, 100%, 50%), hsl(0, 100%, 40%), hsl(0, 100%, 30%), hsl(0, 100%, 20%), hsl(0, 100%, 10%), hsl(0, 100%, 0%)); /* Opera 11.1 부터 12.0 까지 처리 */ 
		background-image:         linear-gradient(to top, hsl(0, 100%, 100%), hsl(0, 100%, 90%), hsl(0, 100%, 80%), hsl(0, 100%, 70%), hsl(0, 100%, 60%), hsl(0, 100%, 50%), hsl(0, 100%, 40%), hsl(0, 100%, 30%), hsl(0, 100%, 20%), hsl(0, 100%, 10%), hsl(0, 100%, 0%)); /* 표준구문, 표준구문은 반드시 마지막에 삽입해야한다. */
	}

	#score_integer {
		width: auto;
		height: 100%;
		margin: 0 6px 0 0;
		display: flex;
		justify-content: space-between;
		flex-direction: column-reverse;
	}

		#score_integer div {
			width: auto;
			line-height: 1.0;
			text-align: right;
			font-size: 10px;
		}





/* ------------ #dataInfo (without footer elements) ------------ */

#dataInfo {
	width: 350px;
	/*min-height: 30vh;*/
	max-height: calc(100vh - 64px);
	height: auto;
	/*height: calc(100vh - 140px);*/
	top: 32px;
	right: 32px;
	background-color: #ffffff;

	font-size: 12px;
	color: #000000; /* 폰트 색깔 */
	border: 1px solid #c3c3c3;
	border-radius: 4px;

	/*overflow-y: auto;*/

	z-index: 999;
}
	#feature_search {
		margin: 20px 24px 0px 24px;
	}
		#feature_search .input {
			width: 100%;
		}
		#search_input {
			width: 100%;
			height: 28px;
			padding: 0 0 0 10px;

			background-color: #f1f1f1;
			font-family: "Spoqa Han Sans";
			color: #8E8E93; /* 폰트 색깔 */
			border: 0px solid;
			border-radius: 6px;
		}

		/* ------------ .search / .icon in .semantic.ui ------------ */

		.ui.icon.input>input {
			padding-right: 2.67142857em!important;
		}

		.ui.icon.input>i.icon {
			cursor: default;
			position: absolute;
			line-height: 1;
			text-align: center;
			top: 0;
			right: 0;
			margin: 0;
			height: 100%;
			width: 2.67142857em;
			opacity: .5;
			border-radius: 0 .28571429rem .28571429rem 0;
			-webkit-transition: opacity .3s ease;
			transition: opacity .3s ease;
		}

		.ui.icon.input>i.icon:after, .ui.icon.input>i.icon:before {
			left: 0;
			position: absolute;
			text-align: center;
			top: 50%;
			width: 100%;
			margin-top: -.5em;
		}

		.ui.input>input {
			color: rgba(0,0,0,.87);
			-webkit-transition: border-color .1s ease,-webkit-box-shadow .1s ease;
			transition: border-color .1s ease,-webkit-box-shadow .1s ease;
			transition: box-shadow .1s ease,border-color .1s ease;
			transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
			-webkit-box-shadow: none;
			box-shadow: none;
		}



	#info_gripper {
		position: absolute;
		right: 16px;
		top: 28px;
		height: 12px;
		display: none;
	}

	#info_nameContainer {
		margin: 18px 25px 0 25px;
		font-size: 18px;
	}
		#municipal_name, #province_name {
			font-family: "Spoqa Han Sans";
			font-weight: 600;
			padding: 12px 10px;
			margin: 0 0 -4px 0;
			border-bottom-width: 6px
		}

		#cancel_selecting {
			font-weight: 600;
			padding: 12px 9px;
		}

	#info_hyperlink {
		margin: 10px 27px 0 34px;
	}
		#info_hyperlink a div {
			margin-right: 22px;
			color: #007AFF;
			text-decoration: underline;

			display: inline-block;
			cursor: pointer;
		}



@media all and (max-width:1023px) { /* tablet layout */

	#dataInfo {
		top: 92px;
		right: 18px;
		max-height: calc(100vh - 240px);
	}

}

@media all and (max-width:767px) { /* mobile phone layout */

	#dataInfo {
		width: 100%;
		min-height: 30%;
		max-height: none;
		top: 70%;
		right: 0;
		border: 0px;
		border-radius: 0 16px 0 0;
		box-shadow: -2px -2px 10px 0px #cccccc;
	}
		#feature_search {
			margin: 20px 45px 0px 18px;
		}
			#search_input {
				padding: 0 0 0 16px;
			}
		#info_gripper {
			display: inline-block;
		}

}


/* ------------ #dataInfo > #result_municipal, #result_province, #selectNotice ------------ */

	#selectNotice  {
		padding: 21px 24px 28px 27px;

		max-height: calc(100vh - 183px);
		height: auto;
		overflow-y: auto;
	}

		#selectNotice .paragraph_link {
			text-decoration: underline;
			color: #000000;
		}


	#result_municipal, #result_province {
		padding: 21px 27px 28px 34px;

		max-height: calc(100vh - 183px);
		height: auto;
		overflow-y: auto;
	}

		.basicInfo_storage {
			margin: 0 0 24px 0;
			padding: 0 0 24px 0;
			border-bottom: 1px solid rgba(34, 36, 38, 0.15);

			display: flex;
			flex-wrap: wrap;
		}
			.basicInfo_storage .dataInfo {
				min-width: 33%;
				max-width: 100%;
				margin: 12px 0 4px 0;
				flex-grow: 0;
			}
			.basicInfo_storage .name 
			{
				font-size: 12px;
				font-weight: 600;
			}
			.basicInfo_storage .value 
			{
				font-size: 12px;
				font-weight: 400;
			}

		.mainIndustry_quote {
			font-size: 10px;
			border-bottom: 1px solid rgba(34, 36, 38, 0.15);
			margin: 6px 0 24px 0;
			padding: 0 0 24px 0;
		}

		.textbox_explain {
			font-size: 10px;
			border-bottom: 1px solid rgba(34, 36, 38, 0.15);
			margin: 6px 0 24px 0;
			padding: 0 0 24px 0;
		}

		.result_storage {
			display: flex;
			flex-wrap: wrap;
			align-items: end;
			margin: 16px 0;
		}
			.result_storage div {
				/*display: inline-block;*/
				margin: 0 0 3px 0;
			}
			.result_storage .scoreName {
				width: 60%;
				font-size: 14px;
				font-weight: 600;
			}
			.result_storage .dataValue {
				width: 25%;
				text-align: right;
				font-size: 14px;
				font-weight: 600;
			}
			.result_storage .score {
				width: 15%;
				text-align: right;
				font-size: 12px;
				font-weight: 300;
			}
			.result_storage .dataName {
				font-size: 12px;
				font-weight: 300;
			}

		#result_municipal_total {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			border-top: 1px solid rgba(34, 36, 38, 0.15);
			margin: 24px 0 0 0;
			padding: 24px 0 0 0;
		}

			#result_municipal_total .scoreName {
				width: 60%;
				font-size: 12px;
				font-weight: 600;
			}

				

			#result_municipal_total .score {
				width: 40%;
				font-size: 12px;
				font-weight: 300;
				text-align: right;
			}

			#dataInfo_municipal_legend {
				font-size: 12px;
				font-weight: 300;
				line-height: 2.5;
				color: #444444;
				cursor: pointer;
			}

			#description_additional_note, #description_municipal_total {
				margin: 12px 0 0 0;
			}

		.unlayered {
			color: #ccc;
		}

			}
			#result_municipal_total .score {
				font-weight: 600;
			}

			.scoreInfo {
				width: 0px;
				flex-grow: 2;
			}

				.dataInfo {
					margin: 6px 0 0 0;
				}

				.unlayered .score, .unlayered .dataName {
					display: none;
				}




/* ------------ #dataInfo > #vote_result_sum ------------ */

	#vote_result_sum {
		position: relative;
		margin: 27px 27px 27px 13px;
	}
		#valid_votes, #electorates {
			font-weight: 600;
			margin: 8px 0 0 0;
			height: 20px;
			position: relative;
		}
		#counted_votes, #blank_ballots {
			font-weight: 300;
			margin: 0 0 0 0;
			height: 20px;
			position: relative;
		}
		#undervotes {
			font-weight: 300;
			margin: 0 0 7px 0;
			height: 20px;
			position: relative;
		}
			#vote_result_sum .description, #vote_result_sum .number {
				position: absolute;
			}
			.description {
				left: 21px;
				top: 1px;
			}
			.number {
				right: 63px;
				top: 0;
				text-align: right;
			}



/* ------------ #popup_modal, .ui.modal ------------ */


#popup_modal {
	font-family: "Spoqa Han Sans";
	line-height: 1.5;
	font-size: 14px;

	width: 700px;
}

	#popup_modal .header {
		font-family: "Spoqa Han Sans";
		font-size: 24px;
	}

	#popup_modal .data_explanation {
		margin: 0 0 48px 0;
	}
		#popup_modal h1 {
			font-size: 18px;
		}

		#popup_modal .explanation_line {
			margin: 0 0 15px 0;
			display: flex;
		}

			#popup_modal .explanation_title {
				font-weight: 600;
				width: 116px;
			}

			#popup_modal .explanation {
			}

				#popup_modal .explanation .source {
					font-size: 11px;
					line-height: 2.0;
				}

		#popup_modal .explanation_table {
			font-size: 12px;
			margin: 18px 0 0 0;
		}

			#popup_modal .explanation_table th {
				color: #ffffff;
				text-align: center;
				background-color: #767676;
			}
			#popup_modal .explanation_table td {
				text-align: center;
			}






/* ------------ footer (of html and #legendInfo) ------------ */


#legendInfo_dataInfo {
	margin: 0 27px 30px 34px;
	display: block;
	line-height: 1.8;
	display: none;
}
	#legend_party_dataInfo, #legend_elected_dataInfo, #info_scrollingTop {
		margin-right: 12px;
		display: inline-block;
	}

		#legend_party_dataInfo img, #legend_elected_dataInfo img {
			position: relative;
			height: calc(1em + 1px);
			top: 2px;
		}

	#info_scrollingTop {
		position: absolute;
		margin-right: 0;
		height: calc(1em + 1px);
		right: 27px;
	}

#divider_dataInfo {
	display: none;
}

#title_dataInfo {
	margin: 36px 27px 36px 34px;
	display: none;
}
	#about_dataInfo {
		font-weight: 600;
	}
	#title_dataInfo a {
		color: #000000;
	}



footer {
	width: 100vw;
	height: 0;
	left: 0;
	bottom: 38px;
	position: absolute;
	font-weight: 400;

	/*font-size: 14px;*/
}
	/*#title_footer, #legendInfo_footer {
		position: absolute;
	}
	#title_footer {
		left: 38px;
		bottom: -6px;
	}
		#about {
			padding-left: 2px;
		}
		#home {
			font-size: 36px;
			font-weight: 600;
			text-decoration: none;
			color: #000000;
		}

	#legendInfo_footer {
		right: 406px;
		bottom: 0px;
		display: block;
		text-align: right;
		line-height: 1.8;
	}
		#legend_party, #legend_elected {
			margin-left: 12px;
			display: inline-block;
		}

			#legendInfo_footer div img {
				position: relative;
				top: 2.5px;
			}

	#about:hover, #home:hover, #legend_point:hover, #legend_party:hover, #legend_elected:hover, #legend_point_dataInfo:hover, #legend_party_dataInfo:hover, #legend_elected_dataInfo:hover {
		cursor: pointer;
	}*/


	#lab2050_logo {
		position: absolute;
		bottom: 0px;
		left: 36px;
		width: 60px;
		height: 60px;
	}
		#lab2050_logo img {
			width: 100%;
			height: 100%;
		}

@media all and (max-width:1023px) { /* tablet layout */

	#legendInfo {
		right: 45px;
	}

}

@media all and (max-width:767px) { /* mobile phone layout */

	#legendInfo_dataInfo {
		display: block;
	}
	#divider_dataInfo {
		display: block;
	}
	#title_dataInfo {
		display: block;
	}
	footer {
		display: none;
	}

}

