@charset "UTF-8";

/* 
	device width distinction - 
	1025px ~ : Desktop layout
	768px ~ , (min-aspect-ratio: 2/1) : "iPhone X", widescreen aspect
	768px ~ 1024xp, (max-aspect-ratio: 2/1) : tablet layout
	~ 767px, (min-aspect-ratio: 1/1) : mobile phone layout, widescreen aspect
	360px ~ 767px, (max-aspect-ratio: 1/1) : mobile phone layout, portrait aspect
	~ (320px) ~ 359px : legendary mobile phone layout
*/


html {
	font-size: 12px; /* 1rem = this size. */
	font-family: 'Spoqa Han Sans', sans-serif;
	line-height: 1.5;
	font-style: normal;
	font-weight: 400;

	position: relative;
	height: 100%;
	width: 100vw; 
}
body {
	padding: 0;
	margin: 0;
	height: 0;
	width: 100vw;
}
div, input {
	box-sizing: border-box;
}


.tooltip {
	position: absolute;
	text-align: center;
	width: auto;
	height: auto;
	padding: 6px 6px 5px 6px;
	margin-top: -50px;
	font: 10px sans-serif;
	background: #ddd;
	pointer-events: none;

	overflow: hidden;
	overflow-wrap: normal;
}


/*svg g path {
	mix-blend-mode: multiply;
}
.leaflet-overlay-pane {
	mix-blend-mode: color-burn;
}
.leaflet-shadow-pane {
    mix-blend-mode: color-burn;
}
*/








/* ------------ #map_background, #site_title, #mapNav, #dataLegend_mapNav, .scoreLegend, #dataInfo ------------ */

#map_background, #site_title, #mapNav, #mapNav_popup, #dataLegend_mapNav, .scoreLegend, #dataInfo {
	position: absolute;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


@media all and (max-width:767px) { /* mobile phone layout */

	#map_background, #site_title, #mapNav, #dataLegend_mapNav, .scoreLegend {
		position: fixed;
	}

}

/* ------------ #map_background ------------ */

#map_background {
	left: 0px;
	top: 0px;
	width: 100%; /*100vw;*/
	height: 100%; /*100vh;*/
	z-index: -1;
	overflow: hidden;
}



/* ------------ #site_title, #mapNav_popup ------------ */

#site_title {
	font-size: 21px;
	font-weight: 600;
	line-height: 1.25;
	display: flex;
	align-items: center;

	top: 32px;
	left: 32px;
	padding: 16px 16px 15px 13px;

	background: #ffffff;
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	cursor: pointer;

	color: #000000;
	text-decoration: none;
}

	#site_title img {
		height: 2.6em;
		margin: 0 0.5em 0 0;
	}
	#site_title div {
		padding: 0.1em 0 0 0;
	}


#mapNav_popup {
	width: 24px;
	height: 22px;
	padding: 7px 3px 1px 3px;

	font-size: 18px;
	line-height: 1.0;

	background-color: #ffffff;
	border: 2px solid rgba(0,0,0,0.3);
	border-radius: 4px;

	position: fixed;
	cursor: pointer;
	display: none;
}

@media all and (max-width:1024px) { /* tablet layout */
	#site_title {
		top: 16px;
		left: -32px;
		padding: 16px 12px 16px 48px;
		/*width: 80px;*/

		text-align: left;
		line-height: 1.3;
	}
}
@media all and (max-width:1024px) and (min-aspect-ratio: 2/1) { /* "iPhone X", widescreen aspect */
	#site_title {
		font-size: 15px;
		left: -36px;
		padding: 8px 8px 7px 48px;
		border: 2px solid rgba(0,0,0,0.3);
	}
		#site_title img {
			height: 2.6em;
			margin: 0 0.6em 0 0;
		}
	#mapNav_popup {
		top: 136px;
		left: 16px;
		display: initial;
	}
}
@media all and (max-width:767px) { /* mobile phone, widescreen layout */
	#site_title {
		font-size: 15px;
		top: 28px;
		left: -36px;
		padding: 8px 8px 7px 48px;
		border: 2px solid rgba(0,0,0,0.3);
	}
		#site_title img {
			height: 2.6em;
			margin: 0 0.6em 0 0;
		}
	#mapNav_popup {
		top: 136px;
		left: 16px;
		display: initial;
	}
}


/* ------------ #mapNav ------------ */

#mapNav {
	top: 132px;
	left: 32px;
	width: 192px;

	padding: 18px 15px 15px 15px;

	background-color: #ffffff;
	border: 1px solid #c3c3c3;
	border-radius: 4px;
}

	#mapLayer {
	}

		#mapLayer_menu {
			border-color: rgba(33, 133, 208, 0.7);
			font-family: 'Spoqa Han Sans', sans-serif;
			min-height: auto;
		}
			/* ------------ semantic-ui menu ------------ */

			#mapLayer_menu .active.item, #mapLayer_menu .item:hover {
				background-color: rgb(0, 162, 232);
				color: #ffffff;
				font-weight: 600;
			}

		#checkbox_cover, 
		#radioButton_cover {
			margin: 0 0 16px 0;
			padding: 0 0 0 0;
		}

			/* ------------ semantic-ui checkbox / radiobox ------------ */

			#checkbox_cover .ui.checkbox, 
			#radioButton_cover .ui.checkbox {
				min-height: 17px;
				font-size: inherit;
				line-height: 1.0;
				min-width: 17px;
			}

			#checkbox_cover .ui.checkbox input[type="checkbox"], 
			#radioButton_cover .ui.checkbox input[type="radio"] {
				width: 1rem;
				height: 1rem;
			}

			#checkbox_cover .ui.checkbox .box:before, #checkbox_cover .ui.checkbox label:before {
				left: 1px;
				width: 1rem;
				height: 1rem;
			} 
			#radioButton_cover .ui.checkbox .box:before, #radioButton_cover .ui.checkbox label:before {
				top: -1px;
				width: calc( 1rem + 2px );
				height: calc( 1rem + 2px );
				border-radius: calc( 1rem + 2px );
			}

			#checkbox_cover .ui.checkbox .box:after, #checkbox_cover .ui.checkbox label:after {
				font-size: inherit;
				top: 1px;
				left: 2px;
				width: 1rem;
				height: 1rem;
			} 
			#radioButton_cover .ui.checkbox .box:after, #radioButton_cover .ui.checkbox label:after {
				font-size: inherit;
				top: 0px;
				left: 1px;
				width: calc( 1rem + 2px );
				height: calc( 1rem + 2px );
				background-color: rgb(0, 162, 232);
			}

			.ui.checkbox input:checked ~ .box:before, .ui.checkbox input:checked ~ label:before {
				background-color: rgb(0, 162, 232);
				border-color: rgba(0, 162, 232, 0.5);
			}

			.ui.checkbox input:not([type=radio]):indeterminate:focus ~ .box:before, 
			.ui.checkbox input:not([type=radio]):indeterminate:focus ~ label:before, 
			.ui.checkbox input:checked:focus ~ .box:before, 
			.ui.checkbox input:checked:focus ~ label:before {
				background: rgb(0, 162, 232);
			}


	#mapYear_slider {
		margin: 0px 8px 8px 7px;
	}

		/* ------------ jquery-ui slider ------------ */

		.ui-slider-horizontal {
			height: .5em;
		}

		.ui-slider-horizontal .ui-slider-handle {
			top: -.49em;
			margin-left: -.6em;
		}

		.ui-state-default, .ui-widget-content .ui-state-default, 
		.ui-widget-header .ui-state-default, .ui-button, 
		html .ui-button.ui-state-disabled:hover, 
		html .ui-button.ui-state-disabled:active {
			border: 1px solid #d3d3d3;
			background: rgb(0, 162, 232);
			font-weight: normal;
			color: #555555;
		}

		.ui-state-active,
		.ui-widget-content .ui-state-active,
		.ui-widget-header .ui-state-active,
		a.ui-button:active,
		.ui-button:active,
		.ui-button.ui-state-active:hover {
			border: 1px solid #aaaaaa;
			background: #ffffff;
			font-weight: normal;
			color: #212121;
		}

	#year_integer {
		display: flex;
		justify-content: space-between;
	}

@media all and (max-width:1024px) and (min-width:768px) and (max-aspect-ratio: 2/1)  { /* tablet layout AND NOT (mobile phone, especially iPhone X widescreen) */
	#mapNav {
		background-color: transparent;
		border: 0px;

		top: 16px;
		left: auto;
		right: 16px;
		width: auto;
		/*height: 108px;*/
		padding: 0;

		display: flex;
		flex-direction: row-reverse;
		align-items: flex-end;
	}

		#mapLayer {
			margin: 0 0 0 0;
			padding: 15px 15px 15px 20px;
			background-color: #ffffff;
			border: 1px solid #c3c3c3;
			border-radius: 4px;

			font-size: 10px;

			width: 320px;
			display: inline;
		}

			#mapLayer_menu {
				border-color: rgba(33, 133, 208, 0.7);
				font-family: 'Spoqa Han Sans', sans-serif;
				margin-right: 5px !important;
				width: auto;
			}
				/* ------------ semantic-ui menu ------------ */

				#mapLayer_menu .item {
					height: 1.2em;
					padding: 0.4em 0;
				}

			#checkbox_cover, #radioButton_cover {
				margin: 0 0 0 0;
			}


				/* ------------ semantic-ui checkbox & radio button ------------ */

				#checkbox_cover .ui.checkbox, 
				#radioButton_cover .ui.checkbox {
				    width: 140px;
				    min-height: 0;
				    margin: 3px 0;

				    line-height: 1.3;
				}			
				#radioButton_cover .ui.checkbox .box:before, #radioButton_cover .ui.checkbox label:before {
					top: 0px;
					width: 1rem;
					height: 1rem;
					border-radius: 1rem;
				}
				#radioButton_cover .ui.checkbox .box:after, #radioButton_cover .ui.checkbox label:after {
					font-size: inherit;
					top: 0px;
					left: 0px;
					width: calc( 1rem + 2px );
					height: calc( 1rem + 2px );
				}

		#mapYear {
			height: 107px;
			margin: 0 16px 0 0;
			padding: 21px 15px 21px 18px;

			background-color: #ffffff;
			border: 1px solid #c3c3c3;
			border-radius: 4px;
			display: flex;
		}
			#mapYear_slider {
				width: 8px;
				height: calc(100% - 8px);
				margin: 4px 10px 0px 0px;
			}
				#mapYear_slider .ui-slider-handle {
					left: -6px;
					margin-bottom: -9px;
				}
			#year_integer {
				height: 100%;
				font-size: 10px;
				line-height: 1.0;

				flex-direction: column-reverse;
			}
}



/* ------------ #dataLegend_mapNav ------------ */

#dataLegend_mapNav {
	top: 132px;
	left: 234px;
	width: 24px;
	height: 24px;
	padding: 4px 3px 2px 3px;

	font-size: 21px;
	line-height: 1.0;

	background-color: #ffffff;
	border: 2px solid rgba(0,0,0,0.3);
	border-radius: 4px;

	cursor: pointer;
}

@media all and (max-width:1024px) { /* tablet layout */
	#dataLegend_mapNav {
		top: 198px;
		left: 76px;
	}
}
@media all and (max-width:1024px) and (min-aspect-ratio: 2/1) { /* "iPhone X", widescreen aspect */
	#dataLegend_mapNav {
		top: 96px;
		left: 16px;
	}
}
@media all and (max-width:767px) { /* mobile phone, widescreen layout */
	#dataLegend_mapNav {
		top: 96px;
		left: 16px;
	}
}


/* ------------ leaflet zoomButton (.leaflet-left, .leaflet-top) ------------ */

.leaflet-left .leaflet-control-zoom {
	margin-left: 234px;
}
.leaflet-top .leaflet-control-zoom {
	margin-top: 176px;
}

@media all and (max-width:1024px) { /* tablet layout */
	.leaflet-left .leaflet-control-zoom {
		margin-left: 76px;
	}
	.leaflet-top .leaflet-control-zoom {
		margin-top: 242px;
	}
}
@media all and (max-width:1024px) and (min-aspect-ratio: 2/1) { /* "iPhone X", widescreen aspect */
	.leaflet-left .leaflet-control-zoom {
		margin-left: 16px;
	}
	.leaflet-top .leaflet-control-zoom {
		margin-top: 176px;
	}
}
@media all and (max-width:767px) { /* mobile phone, widescreen layout */
	.leaflet-left .leaflet-control-zoom {
		margin-left: 16px;
	}
	.leaflet-top .leaflet-control-zoom {
		margin-top: 176px;
	}
}



/* ------------ #scoreLegend ------------ */

.scoreLegend {
	top: 448px;
	left: 40px;
	width: auto;
	height: 108px;
	padding: 8px 6px 8px 6px;

	display: flex;

	background-color: rgba(255, 255, 255, 0.35);
	border-radius: 4px;
}


	.score_gradient { 
		width: 6px;
		height: 100%;
		opacity: 0.7;
	}
		#scoreLegend_multiLayer .score_gradient { 
			/* background-color: hsl(0, 100%, 50%); 그레디언트가 지원되지 않는 경우의 색상(fallback color) */
			background-image: -webkit-linear-gradient(bottom, hsl(0, 100%, 100%), hsl(0, 100%, 90%), hsl(0, 100%, 80%), hsl(0, 100%, 70%), hsl(0, 100%, 60%), hsl(0, 100%, 50%), hsl(0, 100%, 40%), hsl(0, 100%, 30%), hsl(0, 100%, 20%), hsl(0, 100%, 10%), hsl(0, 100%, 0%));
			background-image:    -moz-linear-gradient(bottom, hsl(0, 100%, 100%), hsl(0, 100%, 90%), hsl(0, 100%, 80%), hsl(0, 100%, 70%), hsl(0, 100%, 60%), hsl(0, 100%, 50%), hsl(0, 100%, 40%), hsl(0, 100%, 30%), hsl(0, 100%, 20%), hsl(0, 100%, 10%), hsl(0, 100%, 0%)); /* Fx 3.6 부터 Fx 15 까지 처리 */
			background-image:     -ms-linear-gradient(bottom, hsl(0, 100%, 100%), hsl(0, 100%, 90%), hsl(0, 100%, 80%), hsl(0, 100%, 70%), hsl(0, 100%, 60%), hsl(0, 100%, 50%), hsl(0, 100%, 40%), hsl(0, 100%, 30%), hsl(0, 100%, 20%), hsl(0, 100%, 10%), hsl(0, 100%, 0%)); /* IE 10 Platform Previews, Consumer Preview */
			background-image:      -o-linear-gradient(bottom, hsl(0, 100%, 100%), hsl(0, 100%, 90%), hsl(0, 100%, 80%), hsl(0, 100%, 70%), hsl(0, 100%, 60%), hsl(0, 100%, 50%), hsl(0, 100%, 40%), hsl(0, 100%, 30%), hsl(0, 100%, 20%), hsl(0, 100%, 10%), hsl(0, 100%, 0%)); /* Opera 11.1 부터 12.0 까지 처리 */ 
			background-image:         linear-gradient(to top, hsl(0, 100%, 100%), hsl(0, 100%, 90%), hsl(0, 100%, 80%), hsl(0, 100%, 70%), hsl(0, 100%, 60%), hsl(0, 100%, 50%), hsl(0, 100%, 40%), hsl(0, 100%, 30%), hsl(0, 100%, 20%), hsl(0, 100%, 10%), hsl(0, 100%, 0%)); /* 표준구문, 표준구문은 반드시 마지막에 삽입해야한다. */
		}

		#scoreLegend_singleLayer .score_gradient { 
			/* background-color: hsl(0, 100%, 50%); 그레디언트가 지원되지 않는 경우의 색상(fallback color) */
			background-image: -webkit-linear-gradient(bottom, hsl(35, 100%, 100%), hsl(35, 100%, 95%), hsl(35, 100%, 90%), hsl(35, 100%, 85%), hsl(35, 100%, 80%), hsl(35, 100%, 75%), hsl(35, 100%, 70%), hsl(35, 100%, 65%), hsl(35, 100%, 60%), hsl(35, 100%, 55%), hsl(35, 100%, 50%));
			background-image:    -moz-linear-gradient(bottom, hsl(35, 100%, 100%), hsl(35, 100%, 95%), hsl(35, 100%, 90%), hsl(35, 100%, 85%), hsl(35, 100%, 80%), hsl(35, 100%, 75%), hsl(35, 100%, 70%), hsl(35, 100%, 65%), hsl(35, 100%, 60%), hsl(35, 100%, 55%), hsl(35, 100%, 50%)); /* Fx 3.6 부터 Fx 15 까지 처리 */
			background-image:     -ms-linear-gradient(bottom, hsl(35, 100%, 100%), hsl(35, 100%, 95%), hsl(35, 100%, 90%), hsl(35, 100%, 85%), hsl(35, 100%, 80%), hsl(35, 100%, 75%), hsl(35, 100%, 70%), hsl(35, 100%, 65%), hsl(35, 100%, 60%), hsl(35, 100%, 55%), hsl(35, 100%, 50%)); /* IE 10 Platform Previews, Consumer Preview */
			background-image:      -o-linear-gradient(bottom, hsl(35, 100%, 100%), hsl(35, 100%, 95%), hsl(35, 100%, 90%), hsl(35, 100%, 85%), hsl(35, 100%, 80%), hsl(35, 100%, 75%), hsl(35, 100%, 70%), hsl(35, 100%, 65%), hsl(35, 100%, 60%), hsl(35, 100%, 55%), hsl(35, 100%, 50%)); /* Opera 11.1 부터 12.0 까지 처리 */ 
			background-image:         linear-gradient(to top, hsl(35, 100%, 100%), hsl(35, 100%, 95%), hsl(35, 100%, 90%), hsl(35, 100%, 85%), hsl(35, 100%, 80%), hsl(35, 100%, 75%), hsl(35, 100%, 70%), hsl(35, 100%, 65%), hsl(35, 100%, 60%), hsl(35, 100%, 55%), hsl(35, 100%, 50%)); /* 표준구문, 표준구문은 반드시 마지막에 삽입해야한다. */
		}

	.score_integer {
		width: auto;
		height: 100%;
		margin: 0 6px 0 0;
		display: flex;
		justify-content: space-between;
		flex-direction: column-reverse;
	}

		.score_integer div {
			width: auto;
			text-align: center;
			font-size: 10px;
		}
		#scoreLegend_multiLayer .score_integer div {
			line-height: 1.0;
		}
		#scoreLegend_singleLayer .score_integer div {
			line-height: 1.2;
		}

@media all and (max-width:1024px) { /* tablet layout */
	.scoreLegend {
		top: 198px;
		left: 24px;
		padding: 10px 7px 10px 6px;
	}
}


@media all and (max-width:767px) { /* mobile phone */
	.scoreLegend {
		top: auto;
		left: auto;
		bottom: calc(30% + 16px);
		right: 12px;
		padding: 8px 8px 8px 6px;
	}
}

@media all and (max-width:1024px) and (min-aspect-ratio: 2/1) { /* "iPhone X", widescreen aspect */
	.scoreLegend {
		top: auto;
		left: auto;
		right: 352px;
		bottom: 20px;
		padding: 8px 8px 8px 6px;
	}
}

/* ------------ #dataInfo (without footer elements) ------------ */

#dataInfo {
	width: 350px;
	max-height: calc(100vh - 64px);
	height: auto;
	top: 32px;
	right: 32px;
	padding: 20px 24px 16px 16px;
	background-color: #ffffff;

	color: #000000; /* 폰트 색깔 */
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	overflow-y: auto;

	font-size: 12px;
	z-index: 999;
}

	/* ------------ #feature_search ------------ */

	#feature_search {
		margin: 0px 0px 0px 6px;
	}
		#feature_search .input {
			width: 100%;
		}
		#search_input {
			width: 100%;
			height: 28px;
			padding: 0 0 0 10px;

			background-color: #f1f1f1;
			font-family: "Spoqa Han Sans";
			color: #8E8E93; /* 폰트 색깔 */
			border: 0px solid;
			border-radius: 6px;
		}

		/* ------------ .search / .icon in .semantic.ui ------------ */

		.ui.icon.input>input {
			padding-right: 2.67142857em!important;
		}

		.ui.icon.input>i.icon {
			cursor: default;
			position: absolute;
			line-height: 1;
			text-align: center;
			top: 0;
			right: 0;
			margin: 0;
			height: 100%;
			width: 2.67142857em;
			opacity: .5;
			border-radius: 0 .28571429rem .28571429rem 0;
			-webkit-transition: opacity .3s ease;
			transition: opacity .3s ease;
		}

		.ui.icon.input>i.icon:after, .ui.icon.input>i.icon:before {
			left: 0;
			position: absolute;
			text-align: center;
			top: 50%;
			width: 100%;
			margin-top: -.5em;
		}

		.ui.input>input {
			color: rgba(0,0,0,.87);
			-webkit-transition: border-color .1s ease,-webkit-box-shadow .1s ease;
			transition: border-color .1s ease,-webkit-box-shadow .1s ease;
			transition: box-shadow .1s ease,border-color .1s ease;
			transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

	/* ------------ #info_gripper ------------ */

	#info_gripper {
		display: none;
	}

	/* ------------ #nameContainer (menu tab) ------------ */

	#nameContainer {
		margin: 18px 1px 0 10px;
		font-size: 18px;
	}
		#municipal_name, #province_name {
			font-family: "Spoqa Han Sans";
			font-weight: 600;
		    padding: 12px 7px 12px 6px;
			margin: 0 0 -4px 0;
			border-bottom-width: 6px
		}

		#cancel_selecting {
			font-weight: 600;
			padding: 12px 8px;
		}

	/* ------------ #dataInfo > #initialNotice ------------ */

	#initialNotice  {
		padding: 21px 3px 28px 14px;

		font-size: 12px;

		height: auto;
		overflow-y: auto;

		word-break: keep-all;
		-ms-word-break: keep-all;
	}

		#initialNotice .paragraph_link {
			text-decoration: underline;
			color: #000000;
		}

	/* ------------ #dataInfo > #result_municipal, #dataInfo > #result_province ------------ */

	#result_municipal, #result_province {
		padding: 21px 3px 28px 17px;
		height: auto;
		overflow-y: auto;
	}

		.basicInfo_storage {
			margin: 0 0 24px 0;
			padding: 0 0 24px 0;
			border-bottom: 1px solid rgba(34, 36, 38, 0.15);

			display: flex;
			flex-wrap: wrap;
		}
			.basicInfo_storage .basicInfo {
				min-width: 25%;
				max-width: 100%;
				margin: 12px 0 4px 0;
				flex-grow: 1;
			}
				.basicInfo_storage .name 
				{
					font-weight: 600;
				}
				.basicInfo_storage .value 
				{
					font-weight: 400;
				}

		.textbox_explain {
			font-size: 10px;
			border-bottom: 1px solid rgba(34, 36, 38, 0.15);
			margin: 6px 0 24px 0;
			padding: 0 0 24px 0;
		}

		.score_storage {
			display: flex;
			flex-wrap: wrap;
			align-items: end;
			margin: 16px 6px 0 0;
		}
			.score_storage div {
				margin: 0 0 3px 0;
			}
			.score_storage .scoreName {
				width: 60%;
				font-weight: 600;
			}
			.score_storage .dataValue {
				width: 25%;
				text-align: right;
				font-weight: 600;
			}
			.score_storage .score, .score_storage .score_dash {
				width: 15%;
				text-align: right;
				font-weight: 300;
			}
				.score_storage .score_dash {
					display: none;
					font-weight: 600;
					padding-right: 2px;
				}
			.score_storage .dataName {
				width: 100%;
				text-align: right;
				font-size: 10px;
				font-weight: 400;
				color: #252525;
			}

			.unlayered {
				color: #ccc;
			}
				.unlayered .scoreName {
					/*font-weight: 400;*/
				} 
				.unlayered .score {
					/*visibility: hidden;*/
					display: none;
				} 
				.unlayered .score_dash {
					display: initial;
				} 
				.unlayered .dataValue {
					visibility: hidden;
					/*color: #ccc;*/
				}
				.unlayered .dataName {
					display: none;
					color: #ccc;
				}

		#score_municipal_total {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			border-top: 1px solid rgba(34, 36, 38, 0.15);
			margin: 24px 0 0 0;
			padding: 16px 6px 0 0;
		}

			#score_municipal_total .scoreName {
				width: 30%;
				font-weight: 600;
			}

			#score_municipal_total .score {
				width: 45%;
				font-weight: 300;
				text-align: right;
			}

			#score_municipal_total .dataValue {
				width: 25%;
				font-weight: 600;
				text-align: right;
			}

			#dataLegend_municipal {
				margin: 12px 0 0 -2px;
				font-weight: 300;
				line-height: 2.5;
				color: #444444;
				cursor: pointer;
				text-decoration: underline;
			}
				#dataLegend_municipal i {
					text-decoration: none;
				}

			#description_additional_note, #description_municipal_total {
				margin: 12px 0 0 0;
			}


@media all and (max-width:1024px) { /* tablet layout */
	#dataInfo {
		top: 180px;
		right: 16px;
		width: 320px;
		max-height: calc(100vh - 198px);
		padding: 20px 18px 12px 12px;
	}
		#nameContainer {
			margin: 9px 1px 0 10px;
		}
		#result_municipal, #result_province {
		    padding: 18px 2px 28px 17px;
		}
			.basicInfo_storage {
				margin: 0 0 18px 0;
				padding: 0 0 18px 0;
			}

			#score_municipal_total {
				margin: 18px 0 0 0;
				padding: 12px 6px 0 0;
			}
}

@media all and (max-width:1024px) and (min-aspect-ratio: 2/1) { /* "iPhone X", widescreen aspect */
	#dataInfo {
		top: 16px;
		max-height: calc(100vh - 64px - 98px + 128px);
	}
}

@media all and (max-width:767px) { /* mobile phone layout */

	#dataInfo {
		width: 320px;
		min-height: 30%;
		max-height: none;
		top: 70%;
		left: auto;
		right: 0;
	    padding: 16px 16px 12px 12px;
		border: 0px;
		border-radius: 16px 0 0 0;
		box-shadow: -4px -4px 10px 1px rgba(0, 0, 0, 0.07);
		overflow-y: ;
	}
		#feature_search {
			margin: 0px 46px 0px 6px;
		}
			#search_input {
				padding: 0 0 0 10px;
			}
		#info_gripper {
			position: absolute;
			right: 20px;
			top: 20px;
			height: 18px;
			display: inline-block;
		}

		#initialNotice  {
			padding: 12px 10px 0px 14px;
		}

		#nameContainer {
			margin: 6px 0px 0 10px;
			font-size: 18px;
		}
			#cancel_selecting {
				padding: 12px 10px;
			}

		#result_municipal, #result_province {
		    padding: 12px 3px 12px 17px;
		}
			.basicInfo_storage {
				margin: 0 0 12px 0;
				padding: 0 0 12px 0;
			}

			#score_municipal_total {
				margin: 12px 0 0 0;
				padding: 12px 6px 0 0;
			}
}

/* ------------ #dataLegend_modal, .ui.modal ------------ */


#dataLegend_modal {
	font-family: "Spoqa Han Sans";
	line-height: 1.5;
	font-size: 14px;

	width: 95%;
	max-width: 700px;
}

	#dataLegend_modal .header {
		font-family: "Spoqa Han Sans";
		font-size: 24px;
	}
		#dataLegend_modal .header a {
			vertical-align: 3px;
			font-size: 14px;
			line-height: 1.0;
			font-weight: 400;
			margin-left: 12px;
			color: #555555;
			text-decoration: underline;
		}

	#dataLegend_modal .data_explanation {
		margin: 0 0 48px 0;
		word-break: keep-all;
		-ms-word-break: keep-all;
	}
		#dataLegend_modal .data_explanation a {
			color: #555555;
			text-decoration: underline;
		}
		#dataLegend_modal h1 {
			font-size: 18px;
		}

		#dataLegend_modal .explanation_line {
			margin: 0 0 15px 0;
			line-height: 1.5;
			display: flex;
		}

			#dataLegend_modal .explanation_title {
				font-weight: 600;
				width: 116px;
			}

			#dataLegend_modal .explanation {
				max-width: calc(100% - 116px);
			}

				#dataLegend_modal .explanation .source {
					font-size: 11px;
					margin-top: 4px;
					line-height: 1.5;
				}

		#dataLegend_modal .explanation_table {
			font-size: 12px;
			margin: 0px 0 0 0;
		}

			#dataLegend_modal .explanation_table th {
				color: #ffffff;
				text-align: center;
				background-color: #767676;
			}
			#dataLegend_modal .explanation_table td {
				text-align: center;
			}

	#singleTable_30degree {
		display: inherit;
	}
	#twinTable_30degree {
		display: none;
	}


@media all and (max-width:767px) { /* mobile phone, widescreen layout */
	#dataLegend_modal {
		font-size: 12px;
	}
		#dataLegend_modal .header {
			font-size: 21px;
		}
			#dataLegend_modal .header a {
				font-size: 10px;
				margin-left: 8px;
			}
		#dataLegend_modal h1 {
			font-size: 15px;
		}
		#dataLegend_modal .explanation_line {
			display: block;
		}
			#dataLegend_modal .explanation_title {
				margin: 0 0 4px 0;
			}
			#dataLegend_modal .explanation {
				max-width: none;
				line-height: 1.5;
			}
				#dataLegend_modal .explanation .source {
					font-size: 10px;
					margin-top: 4px;
					line-height: 1.5;
				}
				#dataLegend_modal .explanation_table {
					font-size: 10px;
					margin: 8px 0 0 0;
					width: 100%;
				}
		#singleTable_30degree {
			display: none;
		}
		#twinTable_30degree {
			display: inherit;
		}
}

/*and (max-width:1024px) and (min-aspect-ratio: 2/1) {*/  /* "iPhone X", widescreen aspect */



/* ------------ footer ------------ */


#info_scrollingTop {
	display: none;
}

@media all and (max-width:767px) { /* mobile phone layout */
	#info_scrollingTop {		
		margin: 0 0px 24px 264px;
		display: initial;
		cursor: pointer;
	}
}

